<div class="d-flex justify-content-around mb-5">
    <a class="item-profile-menu btn  {{ myComments is defined ? 'btn-success' : 'btn-info' }}"
       href="{{ path('profile_my_comments') }}">{{ 'my_comments'|trans }}</a>
    <a class="item-profile-menu btn {{ myProfile is defined ? 'btn-success' : 'btn-info' }}"
       href="{{ path('profile') }}">{{ 'profile'|trans }}</a>
    <a class="item-profile-menu btn  {{ mySeries is defined ? 'btn-success' : 'btn-info' }}"
       href="{{ path('profile_my_series') }}">{{ 'my_series'|trans }}</a>
</div>
