{% extends 'base.html.twig' %}

{% block title %}{{ 'profile'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/profile/style-profile-series.css') }}">
{% endblock %}

{% block body %}
    <div class="container" id="main-content">
        {% include 'profile/_navbar_profile.html.twig' %}
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(Allseries) }}
        </div>
        {% for series in Allseries %}
            <div class="d-flex flex-column flex-lg-row my-5 my-lg-0" data-aos="fade" data-aos-once="true">
                <div class="col-auto d-flex justify-content-center align-items-center">
                    {% set poster =  path('poster_show', {id : series.id}) %}
                    <a title="{{ 'more_detail'|trans }}" href="{{ path('series_show',{'id':series.id}) }}">
                        <img class="poster" src="{{ poster }}" alt="poster">
                    </a>
                </div>
                <div class="container">
                    <div class="d-flex flex-column  flex-lg-row justify-content-between align-items-center align-items-lg-start">
                        <a title="{{ 'more_detail'|trans }}" class="series-title text-white text-decoration-none"
                           href="{{ path('series_show',{'id':series.id}) }}">{{ series.title }}</a>
                        <form class="align-self-end align-self-lg-center"
                              action="{{ path('profile_follow_series',{'id':series.id}) }}"
                              method="post">
                            <span title="{{ 'click_unfollow_series'|trans({'%series%':series.title}) }}">
                                <button class="btn btn-danger btn-sm mt-2 mt-md-0"
                                        type="submit">{{ 'unfollow'|trans }}</button>
                            </span>
                        </form>
                    </div>
                    <div class="mt-4 mt-lg-0">
                        <span>{{ series.plot }}</span>
                    </div>
                </div>
            </div>
            <div id="accordion-{{ series.id }}">
                {% for season in series.seasons %}
                    {% set nbEpisode = 0 %}
                    {% for episode in season.episodes %}
                        {% if app.user.episode.contains(episode) %}
                            {% set nbEpisode = nbEpisode + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if season.episodes|length > 0 %}
                        <div class="card bg-dark my-2">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div style="width: 110px;">
                                    <a class="collapsed card-link btn p-0 mr-1 btn-info" data-toggle="collapse"
                                       href="#collapse-{{ season.id }}">
                                        <ion-icon name="arrow-round-down"></ion-icon>
                                    </a>
                                    <span class="text-white">{{ 'season'|trans }} {{ season.number }}</span>
                                </div>
                                <button id="season-watch-btn-{{ season.id }}"
                                        class="btn {{ nbEpisode == season.episodes|length ? 'btn-success':'btn-secondary' }} btn-sm btn-watch-season"
                                        type="submit" data-season-id="{{ season.id }}">
                                    <div class="d">
                                        <ion-icon name="{{ nbEpisode == season.episodes|length ? 'eye':'eye-off' }}">
                                        </ion-icon>
                                    </div>

                                    <span class="spinner-border spinner-border-sm d-none" role="status"
                                          aria-hidden="true"></span>
                                </button>
                                    <span class="badge badge-danger badge-pill py-1" style="width: {{ 140 }}px;">
                                            <span id="season-watch-number-{{ season.id }}">{{ nbEpisode }}</span>
                                        {{ nbEpisode > 1 ? 'episodes'|trans : 'episode'|trans }} {{ 'watched'|trans }}
                                    </span>
                            </div>
                            <div id="collapse-{{ season.id }}" class="collapse bg-dark"
                                 data-parent="#accordion-{{ series.id }}">
                                <div class="card-body">
                                    <ul class="list-group">
                                        {% for episode in season.episodes %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <span class="text-body">{{ episode.number }} - {{ episode.title }}</span>
                                                <div>
                                                    <a class="d-none d-md-inline font-weight-bold mr-5 text-decoration-none" target="_blank" href="https://www.imdb.com/title/{{ episode.imdb }}/">
                                                        <img class="imdb-logo" height="25" src="{{ asset('assets/img/IMDb-logo.svg') }}">
                                                    </a>
                                                    {{ include('_eye_button.html.twig',{ 'watch':episode in episodesWatchedByUser}) }}
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if series.ratings is empty %}
                <h2 class="mt-5 mt-md-3 mt-lg-1">{{ 'add_comment'|trans }}</h2>
                {% include 'rating/_form.html.twig' %}
            {% else %}
                {% for rating in series.ratings %}
                    {{ include('_rating_show.html.twig') }}
                {% endfor %}
            {% endif %}
        {% endfor %}

    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/profile_followed_series.js') }}"></script>
{% endblock %}
