{% extends 'base.html.twig' %}
{% block title %}{{ 'profile'|trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/profile/style-profile-series.css') }}">
{% endblock %}
{% block body %}
<div class="container" id="main-content">
    {% include 'profile/_navbar_profile.html.twig' %}
    <h2>{{ 'connected_at'|trans({'%name%': app.user.name}) }}</h2>
    <p>{{ 'email_is'|trans({'%email%': app.user.email}) }}</p>
    <div class="container">
        {{ form_start(userForm) }}
        <div class="row">
            <div class="col-lg">
                {{ form_row(userForm.name) }}
            </div>
            <div class="col">
                {{ form_row(userForm.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                {{ form_row(userForm.password.first) }}
            </div>
            <div class="col-lg">
                {{ form_row(userForm.password.second) }}
            </div>
            <div class="col">
                {{ form_row(userForm.country) }}
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-lg-end justify-content-center mt-3">
                <button class="btn btn-info" type="submit">{{ 'save_changes'|trans }}</button>
            </div>
        </div>
        {{ form_end(userForm) }}
    </div>
    {% endblock %}
