{% extends 'base.html.twig' %}
{% block title %}{{ 'profile'|trans }}{% endblock %}
{% block body %}
    <div class="container" id="main-content">
        {% include 'profile/_navbar_profile.html.twig' %}
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(userRatings) }}
        </div>
        {% for rating in userRatings %}
            {% include '_rating_show.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
