{% extends 'base.html.twig' %}

{% block title %}{{ 'log_in'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/Google-Style-Login.css') }}">
{% endblock %}

{% block body %}
    <div id="card-center">
        <div class="text-left login-card">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form class="form-signin" method="post">
                <input class="form-control" name="email" type="email" id="inputEmail" required
                       value="" placeholder="{{ 'email'|trans }}" autofocus>
                <input class="form-control" type="password" id="inputPassword" name="password"
                       placeholder="{{ 'password'|trans }}" required>
                <div class="checkbox">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="formCheck-1">
                        <label class="form-check-label" for="formCheck-1">{{ 'remember_me'|trans }}</label>
                    </div>
                </div>
                <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">{{ 'log_in'|trans }}</button>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
            <a class="d-xl-flex justify-content-xl-center forgot-password"
               href="{{ path('app_register') }}">{{ 'click_register'|trans }}</a>
        </div>
    </div>
{% endblock %}
