{% extends "base.html.twig" %}

{% block title %}{{ 'about_us'|trans }}{% endblock %}

{% block body %}

    <div class="container" id="main-content">
        <div class="d-flex justify-content-center mb-4">
            <h2 class="">Series & Cie</h2>
        </div>
        <div class="d-flex flex-column">
            <div class="d-flex align-items-center flex-column flex-lg-row">
                <div class="mx-3">
                    <img src="https://via.placeholder.com/320">
                </div>
                <div class="text-justify px-lg-2 mt-4 px-2 mt-lg-0">
                    <p>Besoin de trouver une série à regarder ? Notre application Series & Cie est fait pour vous !
                        Commentez, notez, sauvegardez vos séries préférées. </p>
                    <p>Vous avez envie de suivre des séries et voir votre progression pour chacunes d'elles ?
                        Inscrivez-vous dès maintenant pour créer votre liste. De plus vous pouvez noter et commenter des
                        séries. Vous pouvez les administrer plus facilement dans la partie profile, mes
                        commentaires.</p>
                    <p>Dans l'onglet profile/mes séries vous pouvez consulter vos séries et mettre à jour votre
                        progression.</p>
                    <p>Vous cherchez un type de série avec des critères précis ? Nesitez pas à vous rendre dans l'onglet
                        séries pour chercher par genre, acteurs, pays, titre mais aussi par nombres de notes et les
                        mieux notés ! </p>
                </div>
            </div>
            <div class="d-flex align-items-center flex-column flex-lg-row-reverse mt-3" >
                <div class="mx-3">
                    <img src="https://via.placeholder.com/320">
                </div>
                <div class="text-justify px-lg-2 mt-4 px-2 mt-lg-0">
                    <p>Pour la partie administrateur, il est possible de supprimer chaque commentaire qui parrait
                        déplacé et/ou innaproprié pour le site.</p>
                    <p>Il a la possibilité dans l'onglet OMDB d'ajouter des séries en recherchant son titre ou son
                        identifiant (tt1234567(8)). Les saisons, episodes, acteurs, genre, trailer seront directement
                        disponible et accesible sur le site.</p>
                    <p>Le trailer Youtube est ajouté grâce à l'utilsation de l'API youtube, il est donc necessaire d'en
                        avoir une lors de l'ajout d'une série. Aucun trailer sera ajouté sinon.</p>
                    <p>Series & Cie est développée par Julien Arrault et
                        <a class="text-white font-italic" target="_blank" href="http://dodgeman.ddns.ms">Hugo
                            Tachoires</a> avec le framework Symfony.</p>
                    <p>Il est possible de changer la langue du site seulement dans le fichier traduction.yaml, nous
                        avons pas su ajouter la possibilité de la changer côté client.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
