{% extends "base.html.twig" %}

{% block title %}{{ 'home'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style-home.css') }}">
{% endblock %}

{% block body %}
    <div class="container" id="main-content">
        <h2>{{ 'last-added'|trans }}</h2>
        <div id="carouselYoutubeTrailer" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% set active = true %}
                {% for series in latestSeries %}
                    <div class="carousel-item {{ active ? 'active':'' }}">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="{{ series.youtubeTrailerEmbed }}?enablejsapi=1&version=3&playerapiid=ytplayer"
                                    class="youtube-video embed-responsive-item" allowfullscreen></iframe>
                        </div>
                    </div>
                    {% set active = false %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev h-25 my-auto" href="#carouselYoutubeTrailer" role="button"
               data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next h-25 my-auto" href="#carouselYoutubeTrailer" role="button"
               data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <h2>{{ 'best_rating'|trans }}</h2>
        <div class="row justify-content-center">
            {% for series in series %}
                <div class="col-auto my-3">
                    <a href="{{ path('series_show',{'id':series.id}) }}">
                        <img class="poster" src="{{ path('poster_show',{'id':series.id}) }}" alt="{{ series.title }}">
                    </a>
                </div>
            {% endfor %}
        </div>
        <section>
            <h2>{{ 'last_rating'|trans }}</h2>
            <div class="d-flex" id="rating-container">
                {% set nbRating = 0 %}
                {% for rating in latestRating %}
                    <div class="rating-container" id="rating-{{ nbRating }}">
                        <div>
                            <a href="{{ path('series_show',{'id':rating.series.id}) }}">
                                <img class="rating-poster" src="{{ path('poster_show',{'id':rating.series.id}) }}">
                            </a>
                        </div>
                        <div class="d-flex flex-column rating-comment-container">
                            <div class="d-flex justify-content-between">
                                <span class="text-truncate text-nowrap rating-user">{{ rating.user.name }}</span>
                                <span class="rating-value">{{ rating.value }}/10</span>
                            </div>
                            <a href="{{ path('series_show',{'id':rating.series.id}) }}"
                               class="flex-wrap rating-comment">{{ rating.comment }}</a>
                        </div>
                    </div>
                    {% set nbRating = nbRating + 1 %}
                {% endfor %}
            </div>
        </section>

    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/script-home.js') }}"></script>
{% endblock %}
