{% extends 'base.html.twig' %}

{% block title %}{{ 'sign_in'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/Google-Style-Login.css') }}">
{% endblock %}

{% block body %}
    <div id="card-center">
        <div class="text-left login-card">
            {{ form_start(registrationForm, {'attr': {'class': 'form-signin'}}) }}
            <span class="reauth-email"> </span>
            {{ form_widget(registrationForm.name) }}
            {{ form_errors(registrationForm.name) }}
            {{ form_widget(registrationForm.email) }}
            {{ form_errors(registrationForm.email) }}
            {{ form_widget(registrationForm.password.first) }}
            {{ form_errors(registrationForm.password.first) }}
            {{ form_widget(registrationForm.password.second) }}
            {{ form_widget(registrationForm.country) }}
            {{ form_errors(registrationForm.country) }}
            <button class="btn btn-primary btn-block btn-lg btn-signin mt-4" type="submit">
                {{ 'sign_up'|trans }}
            </button>
            {{ form_end(registrationForm) }}
            <a class="d-xl-flex justify-content-xl-center forgot-password" href="{{ path('app_login') }}">
                {{ 'already_account'|trans }} ?</a>
        </div>
    </div>
{% endblock %}