{% extends 'base.html.twig' %}

{% block title %}{{ 'list_series'|trans }}{% endblock %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('assets/css/style-index-series.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/search-series.css') }}">
{% endblock %}

{% block body %}
    <div class="container" id="main-content">
        <div class="container mb-4">
            {{ form_start(searchForm) }}
            {{ form_row(searchForm.titleSeries) }}
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="w-100">
                    {{ form_row(searchForm.sortType) }}
                </div>
                <div class="w-100">
                    {{ form_row(searchForm.country) }}
                </div>
                <div class="w-100">
                    {{ form_row(searchForm.genre) }}
                </div>
                <div class="w-100">
                    {{ form_row(searchForm.actor) }}
                </div>
            </div>
            <div class="d-flex justify-content-center justify-content-lg-end">
                <button type="submit" class="btn btn-info">{{ 'search'|trans }}</button>
            </div>
            {{ form_end(searchForm) }}
        </div>
        {% for series in series %}
            <hr class="bg-white d-lg-none">
            <div class="d-flex flex-column flex-lg-row">
                <div class="d-flex justify-content-center">
                    {% set poster =  path('poster_show', {id : series.id}) %}
                    <div>
                        <a href="{{ path('series_show',{'id':series.id}) }}">
                            <img class="m-2 poster" src="{{ poster }}" alt="poster">
                        </a>
                    </div>
                </div>
                <div class="ml-lg-2 w-100">
                    <div class="title d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-lg-between">
                        <a class="align-self-center text-nowrap text-decoration-none text-white"
                           href="{{ path('series_show',{'id':series.id}) }}">
                            {{ series.title }}
                        </a>
                        <div class="d-flex justify-content-between justify-content-md-end w-100">
                            <a class="d-md-none font-weight-bold text-decoration-none"
                               target="_blank" href="https://www.imdb.com/title/{{ series.imdb }}/">
                                <img class="imdb-logo" height="30" src="{{ asset('assets/img/IMDb-logo.svg') }}">
                            </a>
                            {% if is_granted('ROLE_USER') %}
                                {% if app.user.series.contains(series) %}
                                    <span title="{{ 'click_unfollow_series'|trans({'%series%':series.title}) }}"
                                          class="align-self-end align-self-center">
                                <button data-series-id="{{ series.id }}" class="btn btn-success btn-sm btn-follow"
                                        type="submit">
                                    <div class="d">
                                        <ion-icon name="checkmark"></ion-icon>
                                    </div>
                                    <span class="spinner-border spinner-border-sm d-none"
                                          role="status" aria-hidden="true"></span>
                                </button>
                            </span>
                                {% else %}
                                    <span title="{{ 'click_follow_series'|trans({'%series%':series.title}) }}"
                                          class="align-self-end align-self-lg-center">
                                    <button data-series-id="{{ series.id }}" class="btn btn-follow btn-info btn-sm"
                                            type="submit">
                                        <div class="d">
                                            <ion-icon name="add"></ion-icon>
                                        </div>
                                        <span class="spinner-border spinner-border-sm d-none" role="status"
                                              aria-hidden="true"></span>
                                    </button>
                                </span>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('app_login') }}"
                                   title="{{ 'log_to_follow'|trans({'%series%':series.title}) }}"
                                   class="align-self-end align-self-lg-center">
                                    <button data-series-id="{{ series.id }}" class="btn btn-info btn-sm"
                                            type="submit">
                                        <div class="d">
                                            <ion-icon name="add"></ion-icon>
                                        </div>
                                        <span class="spinner-border spinner-border-sm d-none" role="status"
                                              aria-hidden="true"></span>
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-2 mt-md-1">
                        <div class="d-flex">
                            <span>{{ series.yearStart }}</span>
                            {% if series.yearEnd %}
                                <span class="px-1">-</span>
                                <span>{{ series.yearEnd }}</span>
                            {% endif %}
                        </div>
                        {% if series.externalRating[0] is defined %}
                            {% set externalRating = series.externalRating[0] %}
                            {% if externalRating.source is defined and externalRating.votes is defined %}
                                <span title="{{ 'source_votes'|trans({'%name%':externalRating.source.name,'%vote%':externalRating.votes}) }}"
                                      class="font-weight-bold">{{ externalRating.value }}</span>
                            {% endif %}
                        {% else %}
                            <span class="font-weight-bold">NA</span>
                        {% endif %}
                    </div>
                    <div class="d-flex flex-column mt-2">
                        <div class="d-flex justify-content-between mb-1">
                            <span>{{ 'genre'|trans }} : {{ series.genre|join(', ') }}.</span>
                            <a class="d-none d-md-inline font-weight-bold text-decoration-none align-self-end"
                               target="_blank" href="https://www.imdb.com/title/{{ series.imdb }}/">
                                <img class="imdb-logo" height="30" src="{{ asset('assets/img/IMDb-logo.svg') }}">
                            </a>
                        </div>
                        <p>{{ 'casting'|trans }} : {{ series.actor | join(', ') }}...</p>
                        <p>{{ 'awards'|trans }} : {{ series.awards }}</p>

                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(series) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>
    <script src="{{ asset('assets/js/title.js') }}"></script>
    <script src="{{ asset('assets/js/follow-index.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
{% endblock %}
