{% extends 'base.html.twig' %}
{% block title %}{{ series.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style-show-series.css') }}">
{% endblock %}

{% block body %}
    <div class="container" id="main-content">
        <div class="d-flex flex-column flex-lg-row">
            <div class="d-flex justify-content-center">
                {% set poster =  path('poster_show', {id : series.id}) %}
                <div>
                    <img id="poster" src="{{ poster }}" alt="poster">
                </div>
            </div>
            <div class="ml-lg-2 w-100">
                <div class="title d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-lg-between">
                    <span class="align-self-center text-nowrap">{{ series.title }}</span>
                    <div class="d-flex justify-content-between justify-content-lg-end w-100">
                        <a class="d-lg-none font-weight-bold text-decoration-none"
                           target="_blank" href="https://www.imdb.com/title/{{ series.imdb }}/">
                            <img class="imdb-logo" height="30" src="{{ asset('assets/img/IMDb-logo.svg') }}">
                        </a>
                        {% if is_granted('ROLE_USER') %}
                            {% if isSeriesFollowedByUser %}
                                <span title="{{ 'click_unfollow_series'|trans({'%series%':series.title}) }}"
                                      class="align-self-end align-self-lg-center">
                                <button data-series-id="{{ series.id }}" class="btn btn-success btn-sm btn-follow"
                                        type="submit">
                                    <div class="d">
                                        <ion-icon name="checkmark"></ion-icon>
                                    </div>
                                    <span class="spinner-border spinner-border-sm d-none"
                                          role="status" aria-hidden="true"></span>
                                </button>
                            </span>
                            {% else %}
                                <span title="{{ 'click_follow_series'|trans({'%series%':series.title}) }}"
                                      class="align-self-end align-self-lg-center">
                                    <button data-series-id="{{ series.id }}" class="btn btn-follow btn-info btn-sm"
                                            type="submit">
                                        <div class="d">
                                            <ion-icon name="add"></ion-icon>
                                        </div>
                                        <span class="spinner-border spinner-border-sm d-none" role="status"
                                              aria-hidden="true"></span>
                                    </button>
                                </span>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('app_login') }}"
                               title="{{ 'log_to_follow'|trans({'%series%':series.title}) }}"
                               class="align-self-end align-self-lg-center">
                                <button data-series-id="{{ series.id }}" class="btn btn-info btn-sm"
                                        type="submit">
                                    <div class="d">
                                        <ion-icon name="add"></ion-icon>
                                    </div>
                                    <span class="spinner-border spinner-border-sm d-none" role="status"
                                          aria-hidden="true"></span>
                                </button>
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-2 mt-md-1">
                    <div class="d-flex">
                        <span>{{ series.yearStart }}</span>
                        {% if series.yearEnd %}
                            <span class="px-1">-</span>
                            <span>{{ series.yearEnd }}</span>
                        {% endif %}
                    </div>
                    {% if series.externalRating[0] is defined %}
                        {% set externalRating = series.externalRating[0] %}
                        {% if externalRating.source is defined and externalRating.votes is defined %}
                            <span title="{{ 'source_votes'|trans({'%name%':externalRating.source.name,'%vote%':externalRating.votes}) }}"
                                  class="font-weight-bold">{{ externalRating.value }}</span>
                        {% endif %}
                    {% else %}
                        <span class="font-weight-bold">NA</span>
                    {% endif %}
                </div>
                <p class="mt-3">{{ series.plot }}</p>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-between mb-1">
                        <span>{{ 'genre'|trans }} : {{ series.genre|join(', ') }}.</span>
                        <a class="d-none d-lg-inline font-weight-bold text-decoration-none align-self-end"
                           target="_blank" href="https://www.imdb.com/title/{{ series.imdb }}/">
                            <img class="imdb-logo" height="30" src="{{ asset('assets/img/IMDb-logo.svg') }}">
                        </a>
                    </div>
                    <p>{{ 'casting'|trans }} : {{ series.actor | join(', ') }}...</p>
                    <p>{{ 'awards'|trans }} : {{ series.awards }}</p>

                </div>
            </div>
        </div>

        <section class="mt-4">
            <h2>{{ 'watch_trailer'|trans }}</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ series.youtubeTrailerEmbed }}" allowfullscreen></iframe>
            </div>
        </section>
        <section class="mt-5">
            <h2 class="d-none"> {{ 'season'|trans }} - {{ 'episode'|trans }} </h2>
            <div class="container">
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <select aria-label="select-season" class="p-1 bg-dark text-white" id="select-season">
                        <optgroup label="{{ 'season'|trans }}">
                            {% for season in series.seasons %}
                                {% if season.episodes|length > 0 %}
                                    <option value="{{ season.number - 1 }}">{{ 'season'|trans }} {{ season.number }}</option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
            </div>
            {% for season in series.seasons %}
                {% for episode in season.episodes %}
                    <div class="container season-{{ season.number-1 }} {% if season.number-1!=0 %}d-none{% endif %}">
                        <div class="row flex-row season-card mb-2">
                            <div class="col-auto d-flex justify-content-center poster-episode-container">
                                <img class="img-fluid poster-episode" src="{{ poster }}" alt="poster">
                            </div>
                            <div class="col">
                                <div>
                                    <div class="d-flex align-items-center">
                                        <span class="episode-number mr-4">{{ episode.number }}</span>
                                        <span class="title-episode">{{ episode.title }}</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>{% if episode.date is not null %}{{ episode.date.format('Y-m-d') }}{% endif %}</span>
                                        <div class="d-flex justify-content-end align-items-center">
                                            {% if is_granted('ROLE_USER') %}
                                                {{ include('_eye_button.html.twig',{ 'watch':episode in episodesWatchedByUser,'isSeriesFollowedByUser':isSeriesFollowedByUser}) }}
                                            {% endif %}
                                            <span class="ml-1 episode-rating font-weight-bold">
                                                {% if episode.imdbrating is not empty %}
                                                    {{ episode.imdbrating }}/10
                                                {% else %}
                                                    {{ 'no_votes'|trans }}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </section>
        <section class="mt-5">
            <div class="container">
                <h2>{% if not isRatedByUser and is_granted('ROLE_USER') %}
                        {{ 'add_comment'|trans }}
                    {% else %}
                        {{ 'comments'|trans }}
                    {% endif %}
                </h2>
                {% if is_granted('ROLE_USER') %}
                    {% if not isRatedByUser %}
                        {% include 'rating/_form.html.twig' %}
                    {% endif %}
                {% else %}
                    <p>{{ 'log_to_comment'|trans }}</p>
                {% endif %}
            </div>
            {% if ratings.totalItemCount == 0 %}
                <div class="d-flex justify-content-center mt-4 mt-lg-5">
                    <span>{{ 'not_rating_yet'|trans }} ! :(</span>
                </div>
            {% else %}
                {% for rating in ratings %}
                    {{ include('_rating_show.html.twig') }}
                {% endfor %}
                <div class="d-flex justify-content-center">
                    {{ knp_pagination_render(ratings) }}
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/bs-init-show-series.js') }}"></script>
    <script src="{{ asset('assets/js/watch.js') }}"></script>
    <script src="{{ asset('assets/js/follow.js') }}"></script>
    <script src="{{ asset('assets/js/title.js') }}"></script>
{% endblock %}

