{% extends 'base.html.twig' %}

{% block title %}OMDB{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="container" id="main-content">
        <div class="d-flex align-items-center flex-column">
            <form class="search-form" method="get" action="{{ path('omdb') }}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <ion-icon name="search"></ion-icon>
                        </span>
                    </div>
                    <input class="form-control" type="text" name="search" placeholder="{{ 'enter_omdb'|trans }}">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">{{ 'search'|trans }}</button>
                    </div>
                </div>
            </form>
        </div>
        {% if series %}
            <div class="d-flex flex-column flex-lg-row my-4">
                <div class="d-flex justify-content-center">
                    {% if already_in_database %}
                        <a href="{{ path('series_show', {'id' : series.id }) }}">
                            <img id="poster" src="{{ poster_url }}" alt="poster">
                        </a>
                    {% else %}
                        <div>
                            <img id="poster" src="{{ poster_url }}" alt="poster">
                        </div>
                    {% endif %}
                </div>
                <div class="ml-lg-3 w-100">
                    <div class="title d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-lg-between">
                        <span class="align-self-center text-nowrap">{{ series.title }}</span>
                    </div>
                    <div class="d-flex justify-content-between mt-2 mt-md-1">
                        <div class="d-flex">
                            <span>{{ series.yearStart }}</span>
                            {% if series.yearEnd %}
                                <span class="px-1">-</span>
                                <span>{{ series.yearEnd }}</span>
                            {% endif %}
                        </div>
                        <span title=""
                              class="font-weight-bold">{{ imdb_rating }}/10</span>
                    </div>
                    <p class="mt-3">{{ series.plot }}</p>
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-between mb-1">
                            <span>{{ 'genre'|trans }} : {{ series.genre|join(', ') }}.</span>
                        </div>
                        <p>{{ 'casting'|trans }} : {{ series.actor | join(', ') }}...</p>
                        <p>{{ 'awards'|trans }} : {{ series.awards }}</p>
                    </div>
                </div>
            </div>
            {% for season in series.seasons %}
                {% if season.episodes|length > 0 %}
                    <ul class="list-group my-1">
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
                            <span>{{ 'season'|trans }} {{ season.number }}</span>
                            <span class="badge badge-danger badge-pill">{{ 'number_episode'|trans({'%number%':season.episodes|length}) }}</span>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
            {% if not already_in_database %}
                <div class="d-flex justify-content-center">
                    <form action="{{ path('omdb') }}" method="get">
                        <input hidden name="search" value="{{ series.imdb }}">
                        <input hidden name="persist" value="yes">
                        <button class="btn btn-success btn-lg text-center" type="submit"
                                style="margin: 33px;">{{ 'add_series_db'|trans({'%series%':series.title}) }}</button>
                    </form>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/title.js') }}"></script>
{% endblock %}
