#avatar {
  cursor: pointer;
}

@media (min-width: 300px) {
  #header {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/background.jpg");
  background-position: 26%;
  background-repeat: no-repeat;
  background-size: cover;
}

#navcol-1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

#brand {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

