
#poster {
    max-width: 500px;
    max-height: 600px;
    margin: 10px;
}

#select-season {
    width: 155px;
}

ion-icon {
    font-size: 20px;
}

.btn-watch-episode, .btn-follow {
    min-width: 38px;
    min-height: 38px;
}

.btn-watch-episode {
    margin-right: 10px;
}

.image-episode {
    object-fit: cover;
    width: 300px;
    height: 150px;
}

a.page-link {
    background-color: black;
    color: white;
}

.episode-rating {
    width: 50px;
    text-align-last: end;
}

.img-fluid.poster-episode {
    object-fit: cover;
    width: 150px;
    height: 104px;
}

.season-card {
    flex-direction: column;
    margin-bottom: 20px;
}

.episode-number {
    font-size: 40px;
}

@media (min-width: 300px) {
    .title-episode {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .poster-episode {
        display: none;
    }
}

@media (min-width: 768px) {
    .title-episode {
        font-size: 20px;
    }
}

@media (min-width: 990px) {
    .title-episode {
        font-size: 26px;
    }

    .imdb-logo {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(33, 33, 33, .2);
        transition: all .3s;
    }

    .imdb-logo:hover {
        box-shadow: 0 0 5px rgba(33, 33, 33, .1);
        transform: scale(1);
    }
}