.poster {
    cursor: pointer;
    height: 275px;
    width: auto;
    transition: all 0.4s ease-in-out;
}

/* Scale up the box */
.poster:hover {
    transform: scale(1.1, 1.1);
}
#trailer-iframe{
    border: 0;
}

.rating-container {
    background-color: #ffffff;
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 13px;
    width: 347px;
    height: 229px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
}

#rating-container {
    justify-content: space-around;
}

.rating-comment-container {
    min-width: 186px;
}

.rating-poster {
    width: 131px;
}

.rating-comment {
    overflow: hidden;
    margin-left: 8px;
    text-overflow: ellipsis;
    text-decoration: none !important;
    color: black;
}

.rating-comment:hover {
    color: black;
}

.rating-user {
    margin-left: 25px;
}

@media (max-width: 1200px) and (min-width: 728px) {
    #rating-0 {
        display: none !important;
    }
}

@media (max-width: 728px) {
    #rating-container {
        flex-direction: column;
        align-items: center;
    }
}