body {
    background-color: rgb(40,40,40);
    color: white;
}

#main-content {
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(40,40,40);
    color: white;
    min-height: 80vh;
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    body {
        background-image: url("../img/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
}

nav {
    font-weight: bold;
}