
.poster {
    height: 225px;
}

.series-title {
    font-size: 35px;
}

ion-icon {
    font-size: 20px;
}

.btn-watch-season, .btn-watch-episode {
    min-width: 38px;
    min-height: 38px;
}

@media (min-width: 990px) {
    .imdb-logo {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(33, 33, 33, .2);
        transition: all .3s;
    }

    .imdb-logo:hover {
        box-shadow: 0 0 5px rgba(33, 33, 33, .1);
        transform: scale(1);
    }
}


@media (max-width: 990px) {

    .poster {
        height: 380px;
    }

}