{% if watch %}
    <button id="episode-btn-{{ episode.id }}"
            class="btn btn-success btn-sm btn-watch-episode {{ isSeriesFollowedByUser is defined and not isSeriesFollowedByUser ? 'invisible' : 'visible' }}"
            type="submit" data-episode-id="{{ episode.id }}" data-season-id="{{ season.id }}">
        <div class="d">
            <ion-icon name="eye"></ion-icon>
        </div>
        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
    </button>
{% else %}
    <button id="episode-btn-{{ episode.id }}"
            class="btn btn-secondary btn-sm btn-watch-episode {{ isSeriesFollowedByUser is defined and not isSeriesFollowedByUser ? 'invisible' : 'visible' }}"
            type="submit" data-episode-id="{{ episode.id }}" data-season-id="{{ season.id }}">
        <div class="d">
            <ion-icon name="eye-off"></ion-icon>
        </div>
        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
    </button>
{% endif %}