<nav id="navbar-index" class="navbar navbar-dark navbar-expand-lg sticky-top bg-danger shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand text-nowrap" id="brand" href="{{ path('home') }}">Series &amp; Cie</a>
        <button data-toggle="collapse" class="navbar-toggler shadow-sm collapsed" data-target="#navbar-collapse-index">
            <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-uppercase" id="navbar-collapse-index">
            <ul class="nav navbar-nav mx-auto">
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if home is defined %}active{% endif %}"
                       href="{{ path('home') }}">{{ 'home'|trans }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if seriesSearch is defined %}active{% endif %}"
                       href="{{ path('series_index') }}">{{ 'series'|trans }}</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if omdb is defined %}active{% endif %}"
                           href="{{ path('omdb') }}">OMDB</a>
                    </li>
                {% endif %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if about is defined %}active{% endif %}"
                       href="{{ path('aboutUS') }}">{{ 'about_us'|trans }}</a>
                </li>

            </ul>
            <ul class="nav navbar-nav pr-lg-5">
                <form class="form-inline" action="{{ path('series_index') }}">
                    <div class="input-group">
                        <input class="form-control" type="text" name="titleSeries" placeholder="{{ 'search'|trans }}">
                        <input type="hidden" name="sortType" value="1">
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="submit" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                <ion-icon name="search"></ion-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </ul>
            <ul class="nav navbar-nav d-xl-flex align-items-center align-items-xl-center">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if profile is defined %}active{% endif %}"
                           href="{{ path('profile_my_series') }}">{{ 'my_series'|trans }}</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="{{ path('app_logout') }}">{{ 'log_out'|trans }}</a>
                    </li>
                {% else %}
                    {% if login is not defined %}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="{{ path('app_login') }}">{{ 'log_in'|trans }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if not is_granted('ROLE_USER') and register is not defined %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="{{ path('app_register') }}">{{ 'sign_up'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>