<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-2">
        {% if myComments is defined %}
            {% set seriesRating = rating.series %}
            <div>
                <a class="text-decoration-none text-white" href="{{ path('series_show',{'id':seriesRating.id}) }}">
                    <img height="70px" src="{{ path('poster_show',{'id':seriesRating.id}) }}">
                    <span class="comment-pseudo h5 d-none d-md-inline ml-2 ">{{ seriesRating.title }}</span>
                </a>
            </div>
        {% else %}
            <span class="comment-pseudo">{{ rating.user.name }}</span>
        {% endif %}
        <div class="d-flex">
            <span class="comment-rate">{{ rating.value }}/10</span>
        </div>
        <span class="comment-date"></span>
        {% if is_granted('ROLE_USER') %}
            {% if is_granted('ROLE_ADMIN') or rating.user == app.user %}
                <div class="d-flex">
                    {% if rating.user == app.user %}
                        <button class="btn btn-primary mr-2" id="edit-rating" data-toggle="collapse"
                                aria-expanded="false" aria-controls="editComment-{{ rating.id }}"
                                data-target="#editComment-{{ rating.id }}"
                                style="min-width: 90px;">
                            {{ 'edit'|trans }}
                        </button>
                    {% endif %}
                    <form method="post" action="{{ path('rating_delete_user', {'id': rating.id}) }}"
                          onsubmit="return confirm('Do you really want to remove your rating ?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger">{{ 'delete'|trans }}</button>
                    </form>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <p class="text-justify border rounded border-dark p-2">
        <span class="comment-content">{{ rating.comment }}</span>
    </p>
</div>
{% set update = update.createView %}
{% if is_granted('ROLE_USER') and rating.user == app.user %}
    <div class="collapse" id="editComment-{{ rating.id }}">
        {{ form_start(update, {'action': path('rating_edit',{'id':rating.id}),'attr': {'class': 'd-flex flex-column align-items-end'}}) }}
        {{ form_widget(update.comment) }}
        {{ form_row(update.value) }}
        <button class="btn btn-primary my-2">{{ 'save_changes'|trans }}</button>
        {{ form_end(update) }}
    </div>
{% endif %}