<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon.png') }}"/>
    <title>{% block title %}{% endblock %} - Series & Cie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/style-index.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include '_navbar.html.twig' %}
{% include '_flash.html.twig' %}
{% block body %}
    <div class="container" id="main-content">
        <h4>To Use this template use the block body and add a div with <strong>class="container"</strong> and <strong>id="main-content"</strong>.
        </h4>
    </div>
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<script src="{{ asset('assets/js/better_navbar.js') }}"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
