{{ form_start(formRating,{'action': path('rating_new',{'id':series.id}),'attr':{'class':'d-flex flex-column align-items-end'}}) }}
{{ form_widget(formRating.comment) }}
{{ form_row(formRating.value) }}
<button type="submit" class="btn btn-primary" style="min-width:100px;">{{ 'share'|trans }}</button>
{{ form_end(formRating) }}
