{% extends 'base.html.twig' %}

{% block title %}Rating index{% endblock %}

{% block body %}
    <div class="container" id="main-content">
        <h1 style="margin-bottom: 50px;">Rating index</h1>
        <table class="table" style="color: white;">
            <thead>
            <tr>
                <th>Comment</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for rating in ratings %}
                <tr>
                    <td>{{ rating.comment }}</td>
                    <td>
                        <form method="post" action="{{ path('rating_delete_user', {'id': rating.id}) }}" class="d-flex"
                              onsubmit="return confirm('Do you really want to remove your rating on the series {{ rating.series.title }} of the user {{ rating.user.email }} ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
