{% extends 'base.html.twig' %}

{% block title %}New Rating{% endblock %}

{% block body %}
    <div class="container" id="main-content">
        <h1>Create new Rating</h1>
        {{ include('rating/_form.html.twig') }}
        <a href="{{ path('rating_index') }}">back to list</a>
    </div>
{% endblock %}
